<form class="" action="/searches" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="q" value="" id="">
  <input type="submit" name="" value="Search">
</form>
